openai
html5lib
pandas
DateTime
geopy
rapidfuzz
geopandas
matplotlib
numpy
python-dotenv
flask
flask-cors
tqdm
requests
beautifulsoup4
scikit-learn
names-dataset
anthropic
google-genai
mistralai
fastapi
uvicorn
pydantic
vllm
nltk
stanza
grakel
sentence_transformers
huggingface_hub
textstat
scipy
gliner